@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --beige: #807669;
    --white: #F2F2F2;
    --gray: #C5C5C5;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #C5C5C5 #807669; 
  }

body {
    background: var(--black);
    font-size: 100%;
    color: var(--white);
  }

a {
    color: var(--gray);
}

a:hover {
    color: var(--beige);
}


/* SCROLLBAR STYLE (Chrome, Edge, Safari Style) */
body::-webkit-scrollbar {
    width: 0.45rem;
  }
  
  body::-webkit-scrollbar-track {
    background: black;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #555555;
  }
/* SCROLLBAR END */


/* HEADER STYLE */
header .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    position: absolute;
    width: 100%;
    user-select: none;
}

header .logo {
    height: 3rem;
    margin: 0.8rem 3rem 0.8rem 3.8rem;    
}

.menu-principal > ul > li {
    display: flex;
    flex-direction: row;
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 1rem 0;
}

.menu-principal a{
    text-decoration: none;
    color: var(--gray);
    margin-right: 0.625rem;
}

.menu-items.active, .menu-items:hover {
    color: white;
}

/* HEADER END */


/* MAIN STYLE */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    background: linear-gradient(rgba(0,0,0,.80), rgba(0,0,0,.40), rgba(0,0,0,100) 100%), url('../img/covers/cover-classic-coliseum-italy.jpg') no-repeat fixed;
    background-size: cover;
    height: 34rem;
}

.main-content .container{
    width: 50%;
    margin: 14rem 0 4rem 4rem;
}

.main-title {
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 0;
    color: white;
}

.main-subtitle {
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-description {
    font-size: 1.25rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin: 1rem 0 2.5rem 0;
}

.btn-white {
    background-color: var(--white);
    border-radius: 0.15rem;
    border: none;
    color: black;
    padding: 0.8rem 1.8rem;
    margin-right: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .4s ease all;
}

.btn-white i {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.btn-white:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn-gray {
    background-color: rgba(114, 114, 114, 0.6);
    border-radius: 0.15rem;
    border: none;
    color: var(--white);
    padding: 0.8rem 1.8rem;
    margin-right: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .4s ease all;
}

.btn-gray i {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.btn-gray:hover {
    background-color: var(--white);
    color: var(--black);
}
/* MAIN END */


/* CAROUSEL STYLE */
.carousel-archstil {
    padding: 4rem;
}

.category-text {
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1.5rem 0;    
}

.cover-arch {
    display: block;
    height: 100%;
    width: 100%;
}
/* CAROUSEL END */


/* FOOTER STYLE */
footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 2rem 4rem;
    font-size: 1rem;
    color: var(--gray);
}
  

  /* FOOTER END */