@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #141414;
        position: fixed;
        padding: 1rem;
        z-index: 10000;
    }

    .main-content .container {
        margin: 45rem 0 10rem 4rem;
        width: 70%;
    }

    .btn-white {
        margin-top: 0.3rem;
        width: 18rem;
        height: 3rem;
    }

    .btn-gray {
        margin-top: 0.3rem;
        width: 18rem;
        height: 3rem;
    }

    .carousel-archstil {
        padding: 20rem 4rem 10rem 4rem;
    }

    .category-text {
        margin: 1.5rem 0;    
    }

}

@media screen and (min-width: 1000px) {
    .description {
        width: 70%;
    }
}